<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <h2>Perfil de {{currentUser.name}}</h2>
        <form action="/register" method="post" enctype="multipart/form-data">


            <div class="row">
                <img class="avatar-profile" src="{{currentUser.avatar}}" class="col-3" alt="">
                <div class="info col-6">
                    <h1><b>{{currentUser.name}}</b></h1><a href="">Editar</a>
                    <p><b>{{currentUser.email}}</b></p>
                    <p>Listado de favoritos:</p>

                </div>
            </div>




        </form>
        
        <div class="d-grid mb-3">
            <a class="btn btn-secondary" href="/update">Editar perfil</a>
        </div>
        <form action="/{{user.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Borrar perfil</button>
        </form>
    </div>
</div>


<p>Os teus favoritos:</p>

