<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <h2>Perfil de {{currentUser.name}}</h2>
        <form action="/register" method="post" enctype="multipart/form-data">


            <div class="detail row">
                <img src="{{user.avatar}}" class="col-3" alt="">
                <div class="info col-6">
                    <h1><b>{{user.name}}</b></h1><a href="">Editar</a>
                    <h3><b>email: {{user.email}}</b></h3>
                    <h1>Listado de favoritos:</h1>

                </div>
            </div>




        </form>
        <hr>
        <div class="d-grid">
            <a class="btn btn-secondary" href="/update">Editar perfil</a>
        </div>
        <form action="/{{user.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Borrar perfil</button>
        </form>
    </div>
</div>