<div class="row">
    <div class="col-6">
        <div class="card mb-4">
            <img src="{{furancho.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{furancho.name}}</h5>
                <p class="card-text"><b>Dirección:</b><br>{{furancho.address}}</p>
                <p class="card-text"><b>Teléfono:</b><br>{{furancho.phone}}</p>
                <p class="card-text"><b>Apertura:</b><br>{{prettyDate furancho.openAt}}</p>
                <p class="card-text"><b>Peche:</b><br>{{closingDate furancho.openAt}}</p>
                <p class="card-text"><b>Ubicación:</b><br>{{furancho.location}}</p>
                <p class="card-text"><b>Accesibilidade:</b><br>{{#if furancho.accesibility}}Si{{else}}No{{/if}}</p>
                <p class="card-text"><b>Zona Exterior:</b><br>{{#if furancho.terrace}}Si{{else}}No{{/if}}</p>
                <p class="card-text"><b>Menú:</b><br>{{furancho.menu}}</p>
                <p class="card-text"><b>Horario:</b><br>{{furancho.schedule}}</p>
                
                }
                <div class="d-grid">
                <a href="/furanchos/{{furancho.id}}/update" class="btn btn-primary mb-3">Actualizar</a>
                </div>

                <div class="d-grid">
                    <form onsubmit="onSubmit(event)" action="/furanchos/{{furancho.id}}/delete" method="POST">
                        <button type="submit" class="btn btn-danger">Eliminar furancho</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
function onSubmit(event) {
    if (!confirm('Seguro que queres borrar o furancho?')) {
        event.preventDefault()
    }
}
</script>