<h2 class="mb-3">{{#if currentUser}}Ola {{currentUser.name}}!{{else}}{{/if}}</h2>
<div class="row">
    <div class="col-12">
        {{markers furanchos}}
        <div class="g-map"></div>
    </div>
</div>
<br>


<form action="/furanchos" method="GET">
    <div class="d-inline-flex" >
        <div class="mb-4 d-flex flex-row justify-content-start">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="opened" {{#if query.opened}} checked {{/if}}>
                <label class="form-check-label">
                    Aberto hoxe
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="accesibility" {{#if query.accesibility}} checked{{/if}}>
                <label class="form-check-label">
                    Accesibilidade
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="terrace" {{#if query.terrace}} checked {{/if}}>
                <label class="form-check-label">
                    Zona exterior
                </label>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <div>
                <input type="text" name="name" value="{{ query.name }}" placeholder="Nome do furancho">
            </div>
            <div>
              <select class="select" multiple data-mdb-placeholder="Example placeholder" multiple>
                <option value="1">Bueu</option>
                <option value="2">Cangas</option>
                <option value="3">Marín</option>
                <option value="4">Moaña</option>
                <option value="5">Redondela</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Busca!</button>
        
</form>

<hr>
<br>

<div class="row">
    {{#each furanchos as |furancho|}}
    <div class="col-4">
        <div class="card mb-3">
            <img src="{{furancho.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{furancho.name}}</h4>
                <h4>
                    {{#if furancho.accesibility}}<i class="fa-solid fa-wheelchair-move icon">&nbsp;</i>{{else}}{{/if}}
                    {{#if furancho.menu}}<i class="fa-solid fa-utensils icon">&nbsp;</i>{{else}}{{/if}}
                    {{#if furancho.terrace}}<i class="fa-solid fa-tree icon">&nbsp;</i>{{else}}&nbsp;{{/if}}</p>
                </h4>
                <p class="card-text"><b>Enderezo:</b><br>{{furancho.address}}</p>
                <div class="container p-0">
                    <div class="d-flex justify-content-evenly">
                        <div class="col-6">
                            <p><b>Apertura:</b><br>{{prettyDate furancho.openAt}}</p>
                        </div>
                        <div class="col-6">
                            <p><b>Peche:</b><br>{{closingDate furancho.openAt}}</p>
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <a href="/furanchos/{{furancho.id}}/detail" class="btn btn-success">Ver furancho</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>