<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <h2>Edita o teu perfil</h2>
        <form action="/{{user.id}}/edit" method="POST" enctype="multipart/form-data">

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" name="name" value="{{ user.name }}"
                    class="form-control {{#if errors.name }}is-invalid{{/if}}" placeholder="Nome de usuari@">
                {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
            </div>

            <div class="input-group mb-1">
                <span class="input-group-text"><i class="fa fa-lock fa-fw"></i></span>
                <input type="password" name="password" class="form-control {{#if errors.password }}is-invalid{{/if}}"
                    placeholder="Contrasinal">
                {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text"><i class="fa fa-picture-o fa-fw"></i></span>
                <input type="file" name="avatar" value="{{ user.avatar }}"
                    class="form-control {{#if errors.avatar }}is-invalid{{/if}}" placeholder="Sube  o teu avatar" />
                {{#if errors.avatar }}<div class="invalid-feedback">{{ errors.avatar }}</div>{{/if}}
            </div>

            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Edita!</button>
            </div>

        </form>
        
    </div>
</div>

 {{#if user.isAuthenticated}}<div class="border-comments">{{ errors.email }}</div>{{/if}}